{{ define "main" }}
	<!-- Not entirly sure what happened here but index.md gets rendered for '/' because it's title is "Home". Only can render 1 .md page by the looks of it.
	-->
	{{ range where .Data.Pages "Title" "Home" }}
	    <article>
	        <!-- Title, as defined in the front-matter  of /content/index.md -->
			<br/>
	        <div class="content">
	            <!-- Content. is the actual content of '/content/index.md' -->
	            {{ .Content }}
	        </div>
	    </article>
	{{ end }}

	{{ if not .Site.Params.about.hide }}
		{{ partial "about" . }}
	{{ end }}

	{{ if not .Site.Params.portfolio.hide }}
		{{ partial "portfolio" . }}
	{{ end }}

	{{ if not .Site.Params.recentposts.hide }}
		{{ partial "recent-posts" . }}
	{{ end }}

	{{ if not .Site.Params.contact.hide }}
		{{ partial "contact" . }}
	{{ end }}
{{ end }}

